@import "tailwindcss";

body {
  background-size: 30px 30px;
  background-image: radial-gradient(
    circle,
    var(--color-green-800) 2px,
    transparent 2px
  );
}
#wrapper::after {
  content: attr(data-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
#code-input,
#wrapper::after {
  padding: 1px;
  padding-left: 8ch;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}

@font-face {
  font-family: Uiua386;
  src: url("/Uiua386.ttf") format("truetype");
}
@theme {
  --font-mono: Uiua386, monospace;
}
